/*@import url("tailwind.css");
@tailwind base;
@tailwind components;
@tailwind utilities;*/

/* custom background color */

.bg-dark-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(47, 47, 64, var(--tw-bg-opacity));
}

.bg-dark-600 {
  --tw-bg-opacity: 1;
  background-color: rgba(35, 35, 47, var(--tw-bg-opacity));
}

.bg-dark-800 {
  --tw-bg-opacity: 1;
  background-color: rgba(28, 28, 37, var(--tw-bg-opacity));
}

.bg-cyan-700 {
--tw-bg-opacity: 1;
  background-color: rgba(14, 116, 144, var(--tw-bg-opacity));
}

/* custom border color */

.border-cyan-700 {
  --tw-border-opacity: 1;
  border-color: rgba(14, 116, 144, var(--tw-border-opacity));
}